<% if flash.any? %>
    <ul class = "collection">
        <% flash.each do |name, msg| %>
            <% if name == :alert %>
                <li class="collection-item red"><i class = "mdi-content-block"></i> <%= msg %></li>
            <% else %>
                <li class="collection-item green"><i class= "mdi-navigation-check"></i> <%= msg %></li>
            <% end %>
        <% end %>
    </ul>
<% end %>