<% if Item.any_unshipped? %>
    <h3>Pending Items</h3>
    <table class = "hoverable">
        <thead>
            <th>Item</th>
            <th>Unbaked Items</th>
        </thead>
        <tbody>
            <% Item.all.each do |item| %>
                <% if item.unshipped_quantity > 0 %>
                    <tr>
                        <td><%= item.name %></td>
                        <td><%= item.unshipped_quantity %></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
<% else %>
    <h6>There are no pending items to be shipped</h6>
<% end %>