<p>
    Wow that's some nice stuff you're ordering there!
</p>

<% if session[:cart].nil? %>
    Cart is Nil
<% elsif session[:cart].empty? %>
    Cart is Empty
<% else %>
    <table>
        <thead>
            <th>Item</th>
            <th>Quantity</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <% session[:cart].keys.each do |i|%>
                <tr>
                    <td><%= Item.find(i).name %></td>
                    <td><%= session[:cart][i] %></td>
                    <td>More!</td>
                    <td>Remove</td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <button>Checkout</button>
<% end %>