<div class="row">
	<div class="small-7 columns">
		<h2>Contact Bread Express</h2>
		<p class="supertiny">&nbsp;</p>
		<table cellpadding="3">
			<tr>
				<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
				<td>Sivan Mehta</td>
			</tr>
			<tr>
				<td>Email:</td>
				<td>
				<%= link_to "skmehta@andrew.cmu.edu", "https://www.youtube.com/watch?v=dQw4w9WgXcQ", :encode => "javascript" %> 
				</td>
			</tr>
			<tr>
				<td>Phone:</td>
				<td>605-475-6968</td>
			</tr>
		</table>
			
			<p>&nbsp;</p>
			<p>&nbsp;</p>
	</div>
</div>