<div class="row">
    <div class="col s12">
        <ul class="tabs">
            <li class = "tab col s4"><a href = "#homepage">Home</a></li>
            <% if !current_user.nil? and (current_user.role? :admin or current_user.role? :baker) %>
                <li class = "tab col s4"><a href = "#baking">Baking</a></li>
            <% end %>
            <% if !current_user.nil? and (current_user.role? :admin or current_user.role? :shipper) %>
                <li class = "tab col s4"><a href = "#shipping">Shipping</a></li>
            <% end %>
        </ul>
    </div>
</div>

<div class="row">
        <div id = "homepage">
            <%= render :partial => "homepage" %>
        </div>
    <% if !current_user.nil? and (current_user.role? :admin or current_user.role? :baker) %>
        <div id = "baking">
            <%= render :partial => "baking_list" %>
        </div>
    <% end %>
    <% if !current_user.nil? and (current_user.role? :admin or current_user.role? :shipper) %>
        <div id = "shipping">
            <%= render :partial => "unshipped_order_items" %>
            <%= render :partial => "shipped_order_items" %>
        </div>
    <% end %>
</div>


