<% if @inactive_customers.empty? %>
  <h4>No inactive customers on this page</h4>
<% else %>
  <ol><h4>Inactive</h4>
    <% @inactive_customers.each do |customer| %>
      <li><%= link_to customer.name, customer_path(customer) %></li>
    <% end %>
  </ol>
<% end %>