<% if @customer.addresses.any? %> <!-- only render if there are customer orders -->
    <table class = "hoverable">
        <h4 class = "left-align">Addresses</h4>
        <thead>
            <th>Recipient</th>
            <th>Location</th>
            <th>Billing?</th>
            <th></th>
        </thead>
            <% @customer.addresses.each do |address| %>
            <tr>
                <td><%= address.recipient %></td>
                <td>
                    <%= render :partial => "partials/address_info", locals: {address: address} %>
                </td>
                <td><%= address.is_billing ? "Yes" : "No" %></td>      
                <td>
                    <%= link_to ("<i class='mdi-editor-mode-edit left'></i> Edit").html_safe, edit_address_path(address), :encode => "javascript", :class => "btn blue lighten-1" %>
                </td>
            </tr>
            <% end %>
    </table>
    <br />
<% end %>