<h3>New Item</h3>

<%= render 'form' %>

<%= link_to ("<i class='mdi-action-view-headline left'></i> Back to items").html_safe,
    items_path, 
    :encode => "javascript", 
    :class => "btn brown"%>